/*VARIABLES GENERALES DE LA PAGINA*/
    :root{
            /*COLORES CELESTES*/
        --color-celeste-uno: #757FB2;
        --color-celeste-dos: #aab2d5;
        --color-celeste-tres: #e9ecf8;
        --color-celeste-cuatro: #eff1fa;
        --color-celeste-cinco: #f3f5fc;
            /*COLORES AZULES*/
        --color-azul-uno: #052051;
        --color-azul-dos: #072b61;
        --color-azul-tres: #0a3871;
        --color-azul-cuatro: #356ea9;
        --color-azul-cinco: #609ed4;
            /*COLORES GRISES*/
        --color-gray-uno: #343a40;
        --color-gray-dos: #495057;
        --color-gray-tres: #868e96;
        --color-gray-cuatro: #adb5bd;
        --color-gray-cinco: #ced4da;
    }


/*CAMBIO DEL SCROLL DE LA PAGINA*/
    ::-webkit-scrollbar{
        width: 0px;
        background-color: #F5F5F5;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    ::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: var(--color-celeste-uno); 
        background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
    }


/*CAMBIOS GENERALES*/
    html {
        background-color: var(--color-gray-uno);
        min-width: 320px;
        width: 100%;
    }
    a{
        text-decoration: none;
        color: black;
    }
    body{
        font-family: 'Inter', sans-serif;
        background-color: var(--color-celeste-tres);
    }


/*ZONA DEL HEADER DE LA PAGINA*/
    header{
        margin: 0 30px;
        height: 80px;
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: var(--color-celeste-dos);
        border-radius: 0  0 32px 32px;
    }   
    .logo{
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
    }
    .logo h1{
        padding: 0 0 0 10px;
    }
    .logo img{
        height: 60px;
    }


main{
    height: 700px;
    margin: 25px 40px;
    display: flex;
    justify-content: center;
}

/*ZONA DE ENTRADA DE TEXTO*/
    .texto-entrada{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 35px;
        max-width: 700px;
    }
    #entrada-textarea{
        width: 100%;
        font-family: 'Inter', sans-serif;
        resize: none;
        border: none;
        margin: 0 0 27px;
        color: var(--color-azul-tres);
        
        font-size: 32px;
        flex-grow: 3;
        background-color: transparent;
    }
    #entrada-textarea::placeholder { 
        color: var(--color-celeste-dos);
    }
    #entrada-textarea:focus-visible{
        border: none;
        outline:none;
    }
    #div-botones{
        display: flex;
    }
    .boton{
        height: 67px;
        width: 300px;
        font-size: 16px;
        color: var(--color-azul-tres);
        border-radius: 24px;
        border: 1.5px var(--color-azul-tres) solid;
        background-color: white;
        transition: 0.3s;
        font-weight: bold;
        cursor: pointer;
    }
    #div-advertencia{
        display: flex;
        margin: 0 0 5px 0;
        align-items: center;
    }
    .imgen-advertencia{
        height: 20px;
    }
    .texto-advertencia{
        padding: 0 0 0 10px;
        color: var(--color-gray-dos);
    }
    #boton-Desencriptar{
        margin-left: 15px;
    }


/*ZONA DE SALIDA*/
    .texto-salida{
        width: 30%;
        background-color: white;
        padding: 35px;
        border: 1.5px var(--color-azul-tres) solid;
        border-radius: 32px;
        min-width: 300px;
        max-width: 450px;
    }

    /*SALIDA DE TEXTO SI ESTA VACIO*/
        .salida-vacia{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: var(--color-gray-uno);
        }
        .salida-vacia h1{
            font-size: 1.5em;
            font-weight: bold;
        }
        #imagen-texto-vacio{
            width: 100%;
            margin: 0 0 32px 0;
        }
    
    /*SALIDA DE TEXTO CON ALGO*/
        .salida-llena{
            height: 100%;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        #salida-texto{
            width: 100%;
            height: calc(100% - 70px - 30px);
            font-family: 'Inter', sans-serif;
            resize: none;
            border: none;
            color: var(--color-gray-dos);
            font-size: 16px;
            border-radius: 12px;
            background-color: transparent;
        }
        #salida-texto:focus-visible{
            border: none;
            outline:none;
        }
        .boton:hover:not(.desactivado){
            color: var(--color-azul-tres);
            border: 1.5px var(--color-azul-tres) solid;
            background-color: var(--color-celeste-cuatro);
            font-weight: bold;
        }
        .boton:active:not(.desactivado){
            color: var(--color-celeste-cuatro);
            border: 1.5px var(--color-azul-tres) solid;
            background-color: var(--color-azul-tres);
            font-weight: bold;
        }
        .desactivado:active{
            color: var(--color-celeste-cuatro);
            border: 1.5px var(--color-azul-tres) solid;
            background-color: lightcoral;
            font-weight: bold;
        }
    


/*ESTILOS AUXILIARES*/
    .desactivado{
        cursor: not-allowed;
    }

/*ESTILOS DEL FOOTER*/
    footer{
        width: 100%;
        background-color: var(--color-gray-uno);
        border-radius: 15px 15px 0 0;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #logo-footer{
        height: 75px;
        margin: 15px 0 10px;
        fill: white;
    }
    .redes{
        width: 30px;
        margin: 5px 10px 10px;
    }


    /*MODO RESPONSIVE*/
    /*MODO TELEFONOS*/
    @media screen and (max-width:425px) {
        header{
            margin: 0;
            height: auto;
            padding: 5px 20px;
        }
        .logo{
            justify-content: center;
        }
        main{
            align-items: center;
            flex-direction: column;
            height: auto;
            margin: 0;
            padding: 0 15px;
        }
        .texto-entrada,.texto-salida{
            padding: 0;
            margin-top: 15px;
            width: 100%;
            max-width: 100%;
        }
        footer{
            margin-top: 20px;
        }
        #imagen-texto-vacio{
            width: 60%;
            margin: 15px 0;
        }
        .salida-vacia{
            padding: 15px;
            align-items: center;
        }
        .salida-llena{
            padding: 15px;
        }
        .div-botones{
            display: block;
            flex-direction: column;
        }
        #salida-texto{
            width: 90%;
        }
        #boton-copiar{
            width: 100%;
            max-width: 300px;
        }
    }
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
        /*MODO TABLETS*/
    @media screen and (max-width:768px) and (min-width: 426px) {
        header{
            margin: 0;
            height: auto;
            padding: 5px 20px;
        }
        .logo{
            justify-content: center;
        }
        main{
            align-items: center;
            flex-direction: column;
            height: auto;
            margin: 0;
            padding: 0 10%;
        }
        .texto-entrada,.texto-salida{
            padding: 0;
            margin-top: 15px;
            width: 100%;
            max-width: 100%;
        }
        footer{
            margin-top: 20px;
        }
        #imagen-texto-vacio{
            width: 60%;
            margin: 15px 0;
        }
        .salida-vacia{
            padding: 15px;
            align-items: center;
        }
        .salida-llena{
            padding: 15px;
        }
        #div-botones{
            display: flex;
            justify-content: center;
        }
        #salida-texto{
            width: 90%;
        }
        #boton-copiar{
            width: 100%;
            max-width: 300px;
        }
        #salida-texto{
            width: 100%;
        }
    }

/*MODO PORTATIL*/
    @media screen and (max-width:1200px) and (min-width: 769px) {
        main{
            width: 100%;
            display: flex;
            margin: 25px 0;
            justify-content: space-evenly;
        }
        .texto-entrada{
            padding: 0;
            width: 60%;
            min-width: 50%;
        }
        .texto-salida{
            min-width: 20%;
            width: 30%;
            padding: 0;
        }
        #imagen-texto-vacio{
            margin: 15px 0;
        }
        .salida-vacia{
            padding: 15px;
            align-items: center;
        }
        .salida-llena{
            padding: 15px;
            height: calc(100% - 30px);
        }
        #div-botones{
            display: flex;
            justify-content: center;
        }
        #salida-texto{
            width: 90%;
        }
        #boton-copiar{
            width: 100%;
            max-width: 300px;
        }
        #salida-texto{
            width: 100%;
        }
    }